.home-wrapper {
  display: flex;
  flex-direction: row;
  width: 100vw;
  height: 100vh;
  overflow: hidden;

  .home-wrapper-aside {
    background:
      linear-gradient(rgba(0, 0, 0, 0.25), rgba(0, 0, 0, 0.25)),
      url("/media/hero.jpg") no-repeat;
    background-size: cover;
    background-position: center;
    width: 30%;
    padding: 32px;
  }

  .home-wrapper-main {
    width: 70%;
    display: flex;
    flex-direction: column;
    gap: 32px;
    padding: var(--padding-size-01);

    .home-wrapper-auth-links {
      display: flex;
      flex-direction: row;
      gap: 16px;

      .home-wrapper-auth-links-a {
        padding: 12px 16px;
        border-radius: 100px;
        background-color: black;
        color: white;
        text-transform: capitalize;
        font-size: 14px;
        cursor: pointer;
      }
    }
  }
}
