.chat-new-main {
  display: flex;
  flex-direction: column;
  gap: 40px;
  align-content: center;
  justify-content: center;
  padding-left: clamp(0.5rem, -3.4667rem + 22.6667vw, 60rem);
  padding-right: clamp(0.5rem, -3.4667rem + 22.6667vw, 60rem);
  padding-bottom: 32px;
  padding-top: 32px;
  height: 100%;

  .chat-new-main--active {
    justify-content: flex-end;
  }

  .chat-new-agents {
    background-color: yellowgreen;
  }
}
