*:where(:not(iframe, canvas, img, svg, video):not(svg *)) {
  all: unset;
  display: revert;
}
*,
*::before,
*::after {
  box-sizing: border-box;
}
ol,
ul {
  list-style: none;
}
img {
  max-width: 100%;
}
table {
  border-collapse: collapse;
}
textarea {
  white-space: revert;
}

html {
  font-size: 62.5%;
}

body {
  background-color: var(--color-white-02);
  color: #0d0d0d;
}

/* TYPOGRAPHY =============================================================*/

.text-size-01 {
  font-size: clamp(2rem, 4vw + 1rem, 5rem);
  line-height: 1.1;
  letter-spacing: -0.32px;
  font-weight: 700;
}

/* TEST SIZE HEADINGS */
.text-size-02 {
  font-size: clamp(1.42375rem, 1.2145rem + 1.1955vw, 4.561875rem);
  font-weight: 350;
  font-family: var(--font-literate);
  text-transform: capitalize;
}

/* USED ON NAVIGATION AND HEADER */
.text-size-03 {
  font-size: clamp(0.88875rem, 0.8279rem + 0.3479vw, 1.801875rem);
  font-weight: 425;
  font-family: var(--font-amulya);
  text-transform: capitalize;
}

/* USED ON BODY CHAT INPUT RESPONSE  */
.text-size-04 {
  font-size: clamp(1rem, 0.9465rem + 0.3055vw, 1.801875rem);
  font-weight: 400;
  font-family: var(--font-amulya);
}

/* FONT SIZE LABELS */
.text-size-05 {
  font-size: clamp(0.88875rem, 0.8531rem + 0.2038vw, 1.42375rem);
  color: var(--color-gray-01s);
  font-weight: 300;
  font-family: var(--font-amulya);
}

/* ICON SIZES ================================================================ */

.icon-size-01 {
  height: clamp(1rem, 0.9465rem + 0.3055vw, 1.801875rem) !important;
  width: clamp(1rem, 0.9465rem + 0.3055vw, 1.801875rem) !important;
  filter: brightness(0) saturate(100%) invert(6%) sepia(8%) saturate(5035%)
    hue-rotate(185deg) brightness(101%) contrast(93%);
}

/* FLEX CONTAINDER  */

.chat-main-inner {
  padding-left: clamp(0.5rem, -3.4667rem + 22.6667vw, 60rem);
  padding-right: clamp(0.5rem, -3.4667rem + 22.6667vw, 60rem);
  padding-bottom: 32px;
  padding-top: 32px;
  gap: 40px;
}

.chat-main-outer {
  border-radius: 8px;
  border: 0.55px solid rgb(0, 0, 0, 0.15);
  height: 100%;
  width: 100%;
  overflow: hidden;
  display: flex;
  flex-direction: column;
  background-color: #ffffff;
}

/*  */

:root {
  /* easing */
  --ease-01: cubic-bezier(0.4, 0, 0.2, 1);
  --ease-02: cubic-bezier(0.4, 0, 1, 1);
  --ease-03: cubic-bezier(0, 0, 0.2, 1);
  --ease-04: cubic-bezier(0.34, 1.56, 0.64, 1);

  /* duration */
  --duration-01: 100ms;
  --duration-02: 200ms;
  --duration-03: 300ms;

  /* white / gray */
  --color-white-01: #ffffff;
  --color-white-02: #f6f6f6;
  --color-white-03: #f7f7f8;

  /* gray */
  --color-gray-01: #e5e7eb;
  --color-gray-02: #d1d5db;
  --color-gray-03: #6b7280;

  /* green */
  --color-green-01: #10a37f;
  --color-green-02: #0e8e6f;
}
