.chat-wrapper {
  width: 100vw;
  height: 100vh;
  overflow: hidden;
  display: flex;
  flex-direction: row;
  overflow: hidden;

  /* SCREENS BELOW OR EQUAL TO 768PX */
  @media (max-width: 768px) {
    flex-direction: column;
  }

  .chat-wrapper-main {
    height: 100%;
    width: 100%;
    overflow: hidden;
  }
}
