.chat-settings {
  display: flex;
  flex-direction: column;
  gap: 16px;
  height: 100%;
  width: 100%;
  overflow: hidden;
  padding: 32px 160px;
  border-radius: 8px;
  background-color: white;
  border-radius: 8px;
  border: 0.55px solid rgb(0, 0, 0, 0.15);

  .chat-settings-header {
    display: flex;
    flex-direction: row;
    gap: 16px;

    .chat-settings-header-title {
      font-size: 32px;
      text-transform: capitalize;
    }

    .chat-settings-header-icon {
      width: 32px;
      height: 32px;
    }
  }

  .chat-settings-subheader {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    width: 100%;

    .chat-settings-subheader-cta {
      background-color: black;
      padding: 8px;
      border-radius: 4px;
      display: flex;
      flex-direction: row;
      align-items: center;
      gap: 8px;

      span {
        color: white;
      }

      img {
        height: 18px;
        width: 18px;
        filter: brightness(0) saturate(100%) invert(100%) sepia(100%)
          saturate(0%) hue-rotate(333deg) brightness(107%) contrast(101%);
      }
    }
  }

  .chat-settings-theme {
    border: 0.55px solid black;
    display: flex;
    flex-direction: column;
    border-radius: 8px;
    overflow: hidden;
    width: 100%;

    .chat-settings-ttitle {
      padding: 24px;
    }

    .chat-settings-theme-wrapper {
      border-top: 0.55px solid black;
      padding: 24px;
      border-radius: 8px;
      display: flex;
      flex-direction: row;
      justify-content: space-between;

      .chat-settings-theme-wrapper-title {
      }

      .chat-settings-theme-wrapper-choose {
        display: flex;
        flex-direction: row;
        gap: 16px;

        .chat-settings-theme-wrapper-choose-dark,
        .chat-settings-theme-wrapper-choose-light {
          display: flex;
          flex-direction: row;
          align-items: center;
          gap: 8px;

          span {
            text-transform: capitalize;
          }

          img {
            height: 18px;
            width: 18px;
          }
        }
      }
    }
  }

  .chat-settings-account {
    display: flex;
    flex-direction: column;
    border: 0.55px solid black;
    border-radius: 8px;

    .chat-settings-account-title {
      padding: 24px;
    }

    .chat-settings-account-wrapper {
      display: flex;
      flex-direction: column;
      border-top: 0.55px solid black;
      border-radius: 8px;

      .chat-settings-account-row {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        padding: 24px;

        .chat-settings-account-row-desc {
          display: flex;
          flex-direction: row;
          gap: 16px;

          span {
          }
          img {
            width: 18px;
            height: 18px;
          }
        }
      }
    }

    .chat-settings-wrapper-setting {
      background-color: var(--bg-secondary);
      padding: 16px;
      display: flex;
      flex-direction: row;
      justify-content: space-between;
      align-items: center;

      .chat-settings-wrapper-setting-edit {
        display: flex;
        flex-direction: row;
        gap: 16px;
        align-items: center;

        .chat-settings-wrapper-setting-edit-theme {
          display: flex;
          flex-direction: row;
          gap: 16px;

          .chat-settings-wrapper-setting-edit-theme-dark {
            padding: 8px;
            border: 1px solid var(--border-color);
            display: flex;
            flex-direction: row;
            align-items: center;
            cursor: pointer;
            gap: 4px;

            img {
              height: 18px;
              width: 18px;
            }
          }

          .chat-settings-wrapper-setting-edit-theme-light {
            padding: 8px;
            border: 1px solid var(--border-color);
            display: flex;
            flex-direction: row;
            align-items: center;
            cursor: pointer;
            gap: 4px;

            img {
              height: 18px;
              width: 18px;
            }
          }
        }
      }

      .chat-settings-wrapper-setting-icon {
        cursor: pointer;

        img {
          height: 24px;
          width: 24px;
        }
      }
    }
  }
}

.theme-active {
  background-color: var(--text-primary) !important;
  color: var(--bg-primary) !important;
  border-color: transparent !important;

  img {
    filter: brightness(0) saturate(100%) invert(100%) sepia(0%) saturate(0%)
      hue-rotate(0deg) brightness(100%) contrast(100%) !important;
  }
}
