@keyframes spin {
  to {
    transform: rotate(360deg);
  }
}

.chat-loading {
  height: 100%;
  width: 100%;
  display: flex;
  flex-direction: row;
  gap: 16px;
  align-items: center;
  justify-content: center;

  .chat-loading-icon {
    animation: spin 1.2s cubic-bezier(0.4, 0, 0.6, 1) infinite;
  }
}

.chat-report {
  display: flex;
  flex-direction: column;
  gap: 32px;

  .chat-report-header {
    display: flex;
    flex-direction: column;
    gap: 28px;

    .chat-report-header-wrapper {
      display: flex;
      flex-direction: row;
      align-items: center;
      gap: 16px;
    }
  }

  .chat-report-divider {
    border-top: 1px solid rgb(0, 0, 0, 0.75);
    border-bottom: 1px solid rgb(0, 0, 0, 0.75);
    padding: 16px 0;
  }

  .report-report-body {
    height: 100%;
    display: flex;
    flex-direction: column;
    gap: 16px;
  }
}

.chat-report-download {
  padding: 8px;
  border-radius: 16px;
  cursor: pointer;
  color: white;
  background-color: black;
  width: fit-content;
}
