.navigation {
  height: 100%;
  width: fit-content;
  display: flex;
  flex-direction: column;
  justify-content: space-between;

  .navigation-main {
    display: flex;
    flex-direction: column;
    gap: 32px;

    .navigation-main-cta {
      display: flex;
      flex-direction: row;
      justify-content: space-between;
      width: 160px;

      .navigation-main-cta-icon {
        height: 18px;
        width: 18px;
      }
    }
    /*  */
    .navigation-main-links {
      display: flex;
      flex-direction: row;
      justify-content: space-between;
      width: 160px;

      .navigation-main-links-span {
      }

      .navigation-main-links-icons {
        height: 18px;
        width: 18px;
      }
    }

    /*  */
    .navigation-main-settings {
      display: flex;
      flex-direction: column;
      padding-top: 32px;
      border-top: 1px solid black;
      gap: 32px;

      .navigation-main-settings-links {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        width: 160px;

        .navigation-main-settings-links-span {
        }
        .navigation-main-settings-links-icons {
          height: 18px;
          width: 18px;
        }
      }
    }
  }
}

.navigation-website {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;

  .navigation-website-wrapper {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 20px;

    .navigation-website-wrapper-cta {
      background-color: black;
      color: white;
      padding: 4px 6px;
      display: flex;
      flex-direction: row;
      align-items: center;
      gap: 8px;
      border-radius: 4px;

      img {
        width: 15px;
        height: 15px;
        filter: brightness(0) saturate(100%) invert(93%) sepia(100%)
          saturate(0%) hue-rotate(248deg) brightness(106%) contrast(106%);
      }
    }
  }
}
